In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('twitter_marketplace_data (5) (2).csv')

In [3]:
data['charged_flag']=[1 if x >0 else 0 for x in data['charged']]

In [4]:
data = pd.DataFrame(data)

In [5]:
data.head()

,datetime,campaign_id,campaign_spend,campaign_budget,matched_targeting,objective,charged,seen_by_user,bid,charged_flag
0,2018-04-23 07:13:30.839000,7,0.00,1075.0,['GEO'],VIDEO_VIEWS,0.0,False,0.5,0
1,2018-04-23 07:14:50.757000,7,0.02,1075.0,['GEO'],VIDEO_VIEWS,0.0,False,0.5,0
2,2018-04-23 07:15:01.258000,7,0.02,1075.0,['GEO'],VIDEO_VIEWS,0.0,False,0.5,0
3,2018-04-23 07:15:01.540000,7,0.02,1075.0,['GEO'],VIDEO_VIEWS,0.0,False,0.5,0
4,2018-04-23 07:15:20.830000,4,0.00,1167.0,"['GEO', 'GENDER']",APP_INSTALLS,0.0,False,1.0,0

In [11]:
data['campaign_id'].unique()

array([7, 4, 6, 5, 1, 2, 3])

In [6]:
len(data)

70317

In [7]:
data.dtypes

datetime              object
campaign_id            int64
campaign_spend       float64
campaign_budget      float64
matched_targeting     object
objective             object
charged              float64
seen_by_user            bool
bid                  float64
charged_flag           int64
dtype: object

In [8]:
data['datetime'] = pd.to_datetime(data['datetime'])

In [9]:
data[(data['seen_by_user']==False) & (data['charged'] >0) ]

,datetime,campaign_id,campaign_spend,campaign_budget,matched_targeting,objective,charged,seen_by_user,bid,charged_flag
1742,2018-04-23 09:22:31.510440,1,11.962078,500.0,GEO,WEBSITE_CLICKS,0.022555,False,7.5,1
16816,2018-04-23 11:01:01.288520,1,336.653857,500.0,GEO,WEBSITE_CLICKS,0.010000,False,7.5,1
18542,2018-04-23 11:08:55.741480,1,364.239364,500.0,GEO,WEBSITE_CLICKS,0.017334,False,7.5,1
23369,2018-04-23 11:29:28.611560,1,435.464713,500.0,GEO,WEBSITE_CLICKS,0.040176,False,7.5,1
26814,2018-04-23 11:55:14.881160,1,482.965077,500.0,GEO,WEBSITE_CLICKS,0.015775,False,7.5,1
30189,2018-04-23 13:40:23.572000,5,17.775560,170.0,"['AGE_BUCKET', 'GEO']",VIDEO_VIEWS,0.008541,False,0.5,1
30292,2018-04-23 13:45:16.743000,7,125.137946,1075.0,['GEO'],VIDEO_VIEWS,0.011168,False,0.5,1
47806,2018-04-24 00:54:23.987000,7,763.538564,1075.0,['GEO'],VIDEO_VIEWS,0.018393,False,0.5,1
52121,2018-04-24 02:50:56.546000,3,1.602083,1000.0,"['LANGUAGE', 'GEO']",APP_INSTALLS,0.010000,False,1.5,1
53547,2018-04-24 03:09:52.769000,3,10.669513,1000.0,"['LANGUAGE', 'GEO']",APP_INSTALLS,0.019438,False,1.5,1
53613,2018-04-24 03:10:32.760000,3,10.772437,1000.0,"['LANGUAGE', 'GEO']",APP_INSTALLS,0.012455,False,1.5,1
65739,2018-04-24 05:49:44.600000,3,47.111332,1000.0,"['LANGUAGE', 'GEO']",APP_INSTALLS,0.030571,False,1.5,1